* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none !important;
    display: inline-block;
}

ul,
ol,
li {
    list-style: none;
}

.section-1 {
    background-color: rgb(125, 7, 235);
    padding: 100px 0px;
}

.back-color {
    background-color: #fff;
    width: 100%;
    border-right: 1px solid #000;
    padding: 20px 150px;
    /* display: none; */
}

.small-div {
    border: 1px solid rgb(155, 150, 150);
    padding: 26px 100px;
    border-radius: 7px;
}

.input-main {
    text-align: center;
}

.input-main input {
    padding: 8px 10px;
    border-radius: 5px;
    outline: none;
    border: 1px solid rgb(203, 202, 202);
    width: 50%;
    display: inline-block;
}

.input-main label {
    font-size: 18px;
    font-weight: 500;
    margin-left: 220px;
    text-align: left;
}

.input-main span {
    font-size: 18px;
    font-weight: 500;
    margin-left: 220px;
    text-align: left;
    display: none;
}

.radio-btn {
    width: 20px !important;
    text-align: left !important;
}

.submit-btn {
    background-color: rgb(125, 7, 235);
    color: #fff;
    padding: 4px 18px;
    outline: none;
    border: 1px solid rgb(125, 7, 235);
    border-radius: 5px;
}